:root{
    --primary:#fff;
    --secondary:#13acf9;
    --acent:#624cab;
    --texto:#333;
    --title:#3b3b3b;
    --search:#3b3b3b;
    --searchFocus:#b0d1fc;
    --success:#34f5cb;
    --warning:#ffd23d;
    --danger:#fd3a3a;
    --shadow:#8f8f8f48;
    --odd:#f1fafc;
    --hover:#fff7e7;
    
}