:root{
    --primary:#fff;
    --secondary:#13acf9;
    --acent:#008fc9;
    --texto:#333;
    --title:#3b3b3b;
    --search:#3b3b3b;
    --searchFocus:#b0d1fc;
    --success:#34f5cb;
    --warning:#ffd23d;
    --danger:#fd3a3a;
    --shadow:#8f8f8f48;
    --odd:#e2f8fd;
    --hover:#fff7e7;
    
}