@import url("../styles/color.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;1,300&family=Poppins:wght@300&display=swap'); 
body{
font-family: 'Opens Sans', sans-serif;
font-size: 0.857rem;
margin: 0;
padding: 0;
background-color: var(--primary);
}
input,select{
    font-size: 0.875rem;
    color: var(--texto);
}
h1,h2,h3,h4,h5, p, label{
    color: var(--texto);
}
.input-group span{
    background-color: transparent;  
}
.input-group input{
    background-color: transparent;
    border-left: none;
    border-right:none;

    
}
.btn-primary{
    background-color: var(--secondary);
    border: none;
}
.btn-secondary{
    background-color: var(--acent);
    border: none;
}
.btn-info{
    background-color: var(--primary);
    color: var(--acent);
    border: none;
}

.div-header{
    height: 45px;
    width: 100%;
    position: relative;
    top: 0;
    
    box-shadow: 2px 2px 8px var(--shadow);
    margin-bottom: 3px;
}
.div-body{

    position: relative;
    width: 100%;
    height: calc(100% - 55px);
    margin:  0;
    padding: 10px 15px;
   overflow: hidden;
}


 /*estilo del loader ***********************************************************************************/
 

 .loader-wraper {
    top: 0;
    left: 0;
     background-color: var(--primary);
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     display: grid;
     place-items: center;
   
   }
   
   .loader {
     border: 16px solid var(--secondary);
     border-top: 16px solid var(--acent);
     border-radius: 50%;
     width: 140px;
     height: 140px;
   animation: spin 1s linear infinite;
   }
   
   @keyframes spin {
     0% {
       transform: rotate(0deg);
     }
   
     100% {
       transform: rotate(360deg);
     }
   }
.img-welcome{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.secc_info{
  box-shadow: 0px 0px 0px var(--shadow);
padding:  8px;
margin: 8px 0px;
border-radius: 8px;
}
.contain-status{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  }
  .div-ventas{
    padding: 8px;
  height: 20px;
  margin: 3px;
  width: 250px;
  background-color: var(--acent);
  box-shadow: 0px 2px 5px 0 var(--shadow);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  }
  .div-inversion{
    padding: 2px 8px;
    height: 28px; 
    width: 250px;
    background-color: var(--success);
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0 var(--shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .div-ganancia{
    padding: 8px;
    height: 75px;
    width: 250px;
    margin: 3px;
    background-color:  var(--warning);
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0 var(--shadow);
    display: flex;
    flex-direction: column;
  }
.title-card-info{
  font-weight: 500;
  }
  .desc-card-info{
  color: var(--texto);
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 10px;
  }

  .btn-pagar{
background-color: var(--secondary);
color: var(--primary);
font-size: 0.875rem;
width: 100px;
padding: 2px 10px;
border-radius: 8px;
border-style: none;
height: 28px;
  }
  .label-total{
    font-weight: 700;
    color: var(--danger);
    font-size: 1.2rem;
  }